<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="Plugins" type="HTTPWebServer.PluginsSection, HTTPWebServer" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <appSettings>
    <add key="Directory" value="D:\Dropbox" />
  </appSettings>
    <Plugins>
      <Plugins>
      <add extention=".date" classType ="HTTPWebServer.Plugins.Date.DateHandler, HTTPWebServer.Plugins.Date"/>
      </Plugins>
    </Plugins>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
